@charset "ISO-8859-1";
/* blog.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #990000; /* Dark Red */
    color: #000000; /* Black */
}

.blog-container {
    text-align: center;
    padding: 20px;
}

.blog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-card {
    background-color: #ff6666; /* Light Red */
    color: #000000; /* Black */
    border: 2px solid #990000; /* Dark Red */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-sizing: border-box;
    text-align: left;
}

.blog-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.blog-card h3 {
    color: #000000; /* Black */
}

/* Add more styles as needed */
