/* @charset "ISO-8859-1";
styles.css

body {
	font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://media.discordapp.net/attachments/1199392158193561610/1199721791422214204/Design_sans_titre_1.png?ex=65c392fc&is=65b11dfc&hm=131136f7267975108f595d3942d32365317635f954831f30b708b34a5259cdee&=&format=webp&quality=lossless&width=1178&height=662'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    background-color: rgba(100, 100, 255, 0.5); Adjust the alpha value for opacity
}

.container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000;
}

h1 {
    color: red ;
}

h2 {
    color: #000;
}

.buttons {
    margin-top: 20px;

}

.buttons a {
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #fff; Border color for better visibility on the background
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.buttons a:hover {
    background-color: #ddd;
    color: #333;
}
 */